body {
		position: relative;
		}
		ul.nav-pills {
		top: 10vh;
		position: fixed;
		}
		div.col-sm-9 div {
		height: 250px;
		font-size: 28px;
		}
		#section1 {color: #fff; background-color: #1E88E5;}
		#section2 {color: #fff; background-color: #673ab7;}
		#section3 {color: #fff; background-color: #ff9800;}
		#section4 {color: #fff; background-color: #00bcd4;}
		
		@media screen and (max-width: 810px) {
		#section1, #section2, #section3, #section4  {
        margin-left: 150px;
		}
		}
        #title{
            margin-top:55vh;
            margin-bottom:55vh;
        }
        #content {
            overflow:auto;
        }
        
        #outer{
            margin:0 auto;
            width: 80%;
        }             
        
        .line-header{           
            height: 10px;
            
        }
               
        .line-body {
            height: 200vh;
            width: 5px;
            margin: 0 auto; 
        }
        
        .line-header:hover, .line-body:hover {
            background-color: yellow;
        }
        
        .prop1{
            background-color: teal
        }
        
        .prop2{
            background-color: #AA9800
        }
        
        .prop3{
            background-color: #543ab7
        }
        
        .prop4{
            background-color: #1E88E5
        }